
.comment-card {
  background: rgb(216, 216, 216);
  border: 1px solid #f0eaea;
  border-radius: 9px;
  padding: 2%;
  margin-top: 3%;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 12px;
  }
  .card-btn {
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
      opacity: 0.8;
    }
  }
}